@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans";
}

a, a:hover {
  text-decoration: none;
  color: unset;
}

html, body {
  background-color: #000;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-left-30 {
  padding-left: 30px;
}

.padding-right-10 {
  padding-right: 10px;
}

.padding-top-10 {
  padding-top: 10px;
}

.airline-button {
  width: 200px;
  height: 42px;
  margin: 20px 0px;
  border: 2px solid #87CEEB;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #87CEEB;
  background-color: #181818;
}

/*-------------Headers-------------*/

.airline-header {
  color: #87CEEB;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #102347 0%, #181818 100%);
}

.airline-header-logo {
  width: 53.5%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.airline-header-login {
  width: 46.5%;
  display: flex;
  justify-content: right;
  padding-right: 20px;
}

.airline-header-login p {
  margin-right: 30px;
  cursor: pointer;
}

.airline-header-admin {
  padding: 10px;
  font-weight: 700;
}

/*---------SetTrip------------*/

.airline-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  color: #FFF;
}

.airline-card-reservation {
  background-color: #000;
  padding: 15px 20px;
  width: 800px;
  height: 200px;
  color: #FFF;
  border: 3px solid #181818;
  border-radius: 20px;
}

.airline-one-way-select {
  padding-top: 20px;
  display: flex;
}

.airline-round-trip-select {
  padding-bottom: 20px;
  display: flex;
}

.airline-destination-select {
  display: flex;
}

.airline-destination-select p {
  padding-right: 5px;
}

.airline-destination-select-space {
  padding: 0px 10px;
  display: flex;
}

.airline-icon-destination {
  padding-right: 5px;
  color: #87CEEB;
}

/*-------------Flights---------------*/

.airline-main-flights {
  display: flex;
  justify-content: center;
}

.airline-section-flights {
  width: 980px;
  padding: 20px;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.airline-flights-details {
  width: 350px;
  padding: 15px;
  border: 3px solid #181818;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.airline-flights-destination {
  display: flex;
}

.airline-flight-card {
  width: 800px;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.airline-flight-card-details {
  width: 800px;
  padding: 20px;
  margin-bottom: 10px;
  border: 3px solid #181818;
  border-radius: 12px;
  background-color: #111111;
  display: flex;
  justify-content: space-around;
}

.airline-flight-card-destination {
  display: flex;
}

.airline-flight-min-card-details {
  width: 800px;
  padding: 20px;
  margin-bottom: 10px;
  border: 3px solid #181818;
  border-bottom-left-radius: 12px;
  background-color: #111111;
  display: flex;
  justify-content: space-around;
}

/*------------payment------------*/

.airline-payment-section {
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.airline-payment-personal-data {
  width: 300px;
  height: 150px;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #181818;
  border-radius: 8px;
  background-color: #111111;
}

.airline-payment-text {
  padding: 20px 0px;
  width: 800px;
  display: flex;
  justify-content: left;
}

.airline-payment-value-total {
  width: 150px;
  padding: 5px;
  margin-left: 520px;
  background-color: #111111;
  display: flex;
  justify-content: center;
  border: 3px solid #181818;
  border-radius: 8px;
}

/*--------------buy-confirmation------------*/

.airline-buy-confirmation-text {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.airline-buy-confirmarion-button {
  display: flex;
  justify-content: center;
  padding: 6px;
  margin-top: 20px;
  width: 100px;
  background-color: #181818;
  color: #87CEEB;
  border: 2px solid #87CEEB;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

/*-----------client-area-------------------*/

.airline-main-client {
  display: flex;
}

.airline-section-client-data {
  color: #FFF;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 700px;
  border-right: 3px solid #181818;

}

.airline-section-client-data input {
  background-color: #111111;
  color: #c9c9c9;
  border: 3px solid #181818;
  border-radius: 8px;
  width: 200px;
  padding: 5px 10px;
}

.airline-client-data-card {
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.airline-client-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
}

.airline-client-edit-data {
  width: 262px;
  height:40px;
  font-size: 12px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #87CEEB;
  background-color: #181818;
  border: 2px solid #87CEEB;
  border-radius: 8px;
}

.airline-client-edit-data p {
  padding-right: 5px;
}

.airline-client-edit-data-icon {
  width: 15px;
  height: 15px;
}

.airline-client-next-flights {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFF;
  width: 1100px;
}

.airline-client-next-flights h3 {
  padding-bottom: 20px;
}

.airline-client-next-flights-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.airline-client-checkin-flight {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #87CEEB;
  width: 150px;
  height: 70px;
  border-right: 3px solid #181818;
  border-bottom: 3px solid #181818;
  border-bottom-right-radius: 12px;
  cursor: pointer;
}

.airline-client-checkin-flight h4 {
  font-size: 16 px;
}

.airline-client-checkin-flight p {
  font-size: 12px;
}

.airline-client-checkin-div {
  display: flex;
}

.airline-client-ticket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  width: 950px;
  height: 34px;
  background-color: #C9C9C9;
  border-right: 3px solid #181818;
  border-left: 3px solid #181818;
  border-top: 3px solid #181818;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  color: #000;
}

/*----------------Check-in------------------*/

.airline-section-checkin-plane {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.airline-plane-seats {
  width: 220px;
  height: 420px;
  background-color: #181818;
  border: 3px solid #87CEEB;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.airline-plane-seats-row {
  display: flex;
  justify-content:space-between;
}

.airline-plane-seats-row-display {
  display: flex;
  justify-content: space-between;
  width: 90px;
  padding: 10px;
}

.airline-plane-seats-a {
  background-color: #87CEEB;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.airline-title-checkin-plane {
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.airline-title-checkin-plane h1 {
  color: #87CEEB;
}

.airline-confirmation-seat-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 200px;
  height: 40px;
  background-color: #181818;
  color: #87CEEB;
  border: 2px solid #87CEEB;
  border-radius: 8px;
  cursor: pointer;
}

/*----------------AdminArea---------------*/

.airline-admin-area-main {
  display: flex;
  justify-content: center;
}

.airline-admin-area {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFF;
  width: 1100px;
}

.airline-admin-area h3 {
  padding-bottom: 20px;
}

.airline-admin-area h4 {
  font-size: 18px;
}

.airline-admin-area-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.airline-admin-area-list-flight-card p {
  font-size: 12px;
}

.airline-admin-area-title {
  display: flex;
  justify-content: left;
  padding-left: 20px;
  width: 950px;
}

/*----------------All-Flights--------------*/

.airline-all-flights-main {
  display: flex;
  justify-content: center;
}

.airline-all-flights-section {
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 20px;
  width: 980px;
}

.airline-all-flights-title {
  margin-left: 20px;
}

.airline-all-flights-new-flight {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-left: 20px;
  padding: 5px;
  background-color: #111111;
  width: 90px;
  border: 2px solid #87CEEB;
  border-radius: 8px;
  cursor: pointer;
  color: #87CEEB;
  font-size: 12px;
}

.airline-all-flights-card {
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
   background-color: #111111;
   padding: 10px;
   border: 3px solid #181818;
   border-radius: 8px;
}

.airline-all-flights-destination {
  display: flex;
}

.airline-all-flights-card-icons {
  width: 120px;
  display: flex;
  justify-content: space-between;
}

.airline-all-flights-card-icon {
  cursor: pointer;
  color: #87CEEB;
}

.airline-flight-card-admin {
  width: 980px;
}

/*----------------Planes--------------*/

.airline-planes-main {
  display: flex;
  justify-content: center;
}

.airline-planes-section {
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 20px;
  width: 600px;
}

.airline-planes-title {
  margin-left: 20px;
}

.airline-planes-card {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 10px;
  background-color: #111111;
  border: 3px solid #181818;
  border-radius: 8px;
}

.airline-planes-card-icons {
  display: flex;
  width: 80px;
  justify-content: space-between;
}

.airline-planes-card-icon {
  cursor: pointer;
  color: #87CEEB;
}

.airline-planes-new-plane {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-left: 20px;
  padding: 5px;
  background-color: #111111;
  width: 90px;
  border: 2px solid #87CEEB;
  border-radius: 8px;
  cursor: pointer;
  color: #87CEEB;
  font-size: 12px;
}

/*------------------Passenger-List---------------*/

.airline-passenger-list-section {
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.airline-passenger-list-title {
  color: #FFF;
}

.airline-passenger-list-card {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 700px;
}

.airline-passenger-list-flight-reference{
  display: flex;
  justify-content: space-between;
  padding: 5px 30px;
  font-size: 12px;
  border-top: 2px solid #87CEEB;
  border-right: 2px solid #87CEEB;
  border-left: 2px solid #87CEEB;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.airline-passenger-list-flight {
  width: 700px;
  border-bottom: 2px solid #87CEEB;
  border-right: 2px solid #87CEEB;
  border-left: 2px solid #87CEEB;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.airline-passenger-list-name {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 680px;
  border-bottom: 2px solid #181818;
}

.airline-passenger-list-card-name {
  display: flex;
  justify-content: center;
}

.airline-passenger-list-flight-destination {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.airline-passenger-list-icon {
  size: 40px;
}

/*-----------------Login----------------*/

.airline-login-main {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  color: #FFF;
}

.airline-login-section {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.airline-login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #181818;
  border: 2px solid #87CEEB;
  border-radius: 12px;
  color: #87CEEB;
}

.airline-login-username {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

.airline-login-username p {
  margin-right: 10px;
}

.airline-login-username input {
  width: 300px;
  height: 40px;
  padding: 2px 5px;
  color: #C9C9C9;
  border: 2px solid #111111;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

.airline-login-password {
  display: flex;
  justify-content: space-between;
}

.airline-login-password p {
  margin-right: 10px;
}

.airline-login-password input {
  width: 300px;
  height: 40px;
  padding: 2px 5px;
  color: #C9C9C9;
  border: 2px solid #111111;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

.airline-login-forget-password {
  margin-top: 20px;
  font-size: 12px;
  cursor: pointer;
}

.airline-login-create-account {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: #87CEEB;
  color: #181818;
  border-radius: 8px;
  width: 150px;
  height: 40px;
  cursor: pointer;
}

.airline-login-button-enter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 300px;
  height: 40px;
  background-color: #181818;
  color: #87CEEB;
  border: 2px solid #87CEEB;
  border-radius: 8px;
  cursor: pointer;
}