@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans";
}

a, a:hover {
  text-decoration: none;
  color: unset;
}

html, body {
  background-color: #000;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-left-30 {
  padding-left: 30px;
}

.padding-right-10 {
  padding-right: 10px;
}

.padding-top-10 {
  padding-top: 10px;
}

.airline-button {
  width: 200px;
  height: 42px;
  margin: 20px 0px;
  border: 2px solid #87CEEB;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #87CEEB;
  background-color: #181818;
}

/*-------------Headers-------------*/

.airline-header {
  color: #87CEEB;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #102347 0%, #181818 100%);
}

.airline-header-logo {
  width: 53.5%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.airline-header-login {
  width: 46.5%;
  display: flex;
  justify-content: right;
  margin-right: 20px;
}

.airline-header-login-organization {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.airline-header-login-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  padding-right: 10px;
}

.airline-header-admin {
  padding: 10px;
  font-weight: 700;
}

.airline-header-name {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*---------SetTrip------------*/

.airline-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  color: #FFF;
}

.airline-card-reservation {
  background-color: #000;
  padding: 15px 20px;
  width: 600px;
  height: 300px;
  color: #FFF;
  border: 3px solid #181818;
  border-radius: 20px;
}

.airline-one-way-select {
  padding-top: 20px;
  display: flex;
}

.airline-round-trip-select {
  padding-bottom: 20px;
  display: flex;
}

.airline-destination-select {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.airline-destination-select input {
  padding: 0px 5px;
  outline: none;
}

.airline-destination-select p {
  padding-right: 5px;
}

.airline-destination-select-space {
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.airline-icon-destination {
  padding-right: 5px;
  color: #87CEEB;
}

.airline-icon-destination-calendar1 {
  padding-right: 5px;
  color: #87CEEB;
  margin-left: 54px;
}

.airline-icon-destination-calendar2 {
  padding-right: 5px;
  color: #87CEEB;
  margin-left: 126px;
}

.airline-select {
  width: 180px;
}

.airline-select-destination-trip {
  display: flex;
  width: 550px;
  margin-top: 20px;
}

.airline-select-data-trip {
  display: flex;
  margin-top: 20px;
  width: 550px;
}

/*-------------Flights---------------*/

.airline-main-flights {
  display: flex;
  justify-content: center;
}

.airline-section-flights {
  width: 980px;
  padding: 20px;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.airline-flights-details {
  width: 350px;
  padding: 15px;
  border: 3px solid #181818;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.airline-flights-destination {
  display: flex;
}

.airline-flight-card {
  width: 800px;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.airline-flight-card-details {
  width: 800px;
  padding: 20px;
  margin-bottom: 10px;
  border: 3px solid #181818;
  border-radius: 12px;
  background-color: #111111;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.airline-flight-sold-out {
  opacity: 0.7;
  pointer-events: none;
}

.airline-flight-sold-out-text {
  color: #F33;
  font-weight: bold;
}

.airline-flight-selected-card-details {
  width: 800px;
  padding: 20px;
  margin-bottom: 10px;
  border: 3px solid #181818;
  border-radius: 12px;
  background-color: #111111;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.airline-flight-selected-date-and-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.airline-flight-card-details.selected {
  border: 2px solid #87CEEB;
}

.airline-flight-card-destination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
}

.airline-flight-min-card-seat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
}

.airline-flight-min-card-details {
  width: 800px;
  padding: 10px;
  margin-bottom: 10px;
  border: 3px solid #181818;
  border-bottom-left-radius: 12px;
  background-color: #111111;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.airline-flight-min-card-time {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 250px;
}

.airline-message-no-flights {
  color: #FFF;
}

.airline-button-off {
  width: 200px;
  height: 42px;
  margin: 20px 0px;
  border: 2px solid #87CEEB;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #87CEEB;
  background-color: #181818;
  cursor: default;
  opacity: 0.4;
}

.airline-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 440px;
}

/*------------payment------------*/

.airline-payment-section {
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.airline-payment-personal-data {
  width: 200px;
  height: 100px;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #181818;
  border-radius: 8px;
  background-color: #111111;
}

.airline-payment-data-name {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 150px;
}

.airline-payment-data-document {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 10px;
  width: 150px;
}

.airline-user {
  margin-left: 10px;
  color: #87CEEB; 
}

.airline-payment-text {
  padding: 20px 0px;
  width: 800px;
  display: flex;
  justify-content: left;
}

.airline-payment-value-total {
  width: 150px;
  padding: 5px;
  margin-left: 520px;
  background-color: #111111;
  display: flex;
  justify-content: center;
  border: 3px solid #181818;
  border-radius: 8px;
}

/*--------------buy-confirmation------------*/

.airline-buy-confirmation-text {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.airline-buy-confirmarion-button {
  display: flex;
  justify-content: center;
  padding: 6px;
  margin-top: 20px;
  width: 100px;
  background-color: #181818;
  color: #87CEEB;
  border: 2px solid #87CEEB;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

/*-----------client-area-------------------*/

.airline-main-client {
  display: flex;
}

.airline-section-client-data {
  color: #FFF;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 700px;
  border-right: 3px solid #181818;

}

.airline-section-client-data input {
  background-color: #111111;
  color: #c9c9c9;
  border: 3px solid #181818;
  border-radius: 8px;
  width: 200px;
  padding: 5px 10px;
}

.airline-client-data-card {
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.airline-client-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
}

.airline-client-edit-data {
  width: 262px;
  height:40px;
  font-size: 12px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #87CEEB;
  background-color: #181818;
  border: 2px solid #87CEEB;
  border-radius: 8px;
}

.airline-client-edit-data p {
  padding-right: 5px;
}

.airline-client-edit-data-icon {
  width: 15px;
  height: 15px;
}

.airline-client-next-flights {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFF;
  width: 1100px;
}

.airline-client-next-flights h3 {
  padding-bottom: 20px;
}

.airline-client-next-flights-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.airline-client-checkin-flight-on {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #87CEEB;
  width: 150px;
  height: 70px;
  border-right: 3px solid #181818;
  border-bottom: 3px solid #181818;
  border-bottom-right-radius: 12px;
  cursor: pointer;
}

.airline-client-checkin-flight-off {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #87CEEB;
  opacity: 0.4;
  width: 150px;
  height: 70px;
  border-right: 3px solid #181818;
  border-bottom: 3px solid #181818;
  border-bottom-right-radius: 12px;
}

.airline-client-checkin-flight-done {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #87CEEB;
  opacity: 0.4;
  width: 150px;
  height: 70px;
  border-right: 3px solid #181818;
  border-bottom: 3px solid #181818;
  border-bottom-right-radius: 12px;
}

.airline-client-checkin-done {
  display: flex;
  justify-content: center;
  align-items: center;
}

.airline-client-checkin-flight h4 {
  font-size: 16 px;
}

.airline-client-checkin-flight p {
  font-size: 12px;
}

.airline-client-checkin-div {
  display: flex;
}

.airline-client-ticket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  width: 950px;
  height: 34px;
  background-color: #C9C9C9;
  border-right: 3px solid #181818;
  border-left: 3px solid #181818;
  border-top: 3px solid #181818;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  color: #000;
}

/*----------------Check-in------------------*/

.airline-section-checkin-plane {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.airline-seats {
  width: 220px;
  background-color: #181818;
  border: 3px solid #87CEEB;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.airline-plane-seats-row {
  display: flex;
  justify-content:space-between;
}

.airline-plane-seats-row-display {
  display: flex;
  justify-content: space-between;
  width: 90px;
  padding: 10px;
}

.airline-plane-seats {
  background-color: #FFF;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.airline-plane-seats.selected {
  background-color: #87CEEB;
}

.airline-plane-seats.occupied {
  background-color: #C9C9C9;
  opacity: 0.4;
  cursor: not-allowed;
}

.airline-title-checkin-plane {
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.airline-title-checkin-plane h1 {
  color: #87CEEB;
}

.airline-confirmation-seat-message {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  color: #FFF;
}

.airline-confirmation-seat-message p {
  margin-left: 5px;
  color: #87CEEB;
  font-size: 20px;
}

.airline-confirmation-seat-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 160px;
  height: 40px;
  background-color: #181818;
  color: #87CEEB;
  border: 2px solid #87CEEB;
  border-radius: 8px;
  cursor: pointer;
}

.airline-confirmation-seat-button-off {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 160px;
  height: 40px;
  background-color: #181818;
  color: #87CEEB;
  border: 2px solid #87CEEB;
  border-radius: 8px;
  cursor: default;
  opacity: 0.4;
}

.airline-confirmation-seat-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 340px;
}

/*----------------AdminArea---------------*/

.airline-admin-area-main {
  display: flex;
  justify-content: center;
}

.airline-admin-area {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFF;
  width: 1100px;
}

.airline-admin-area h4 {
  font-size: 18px;
}

.airline-admin-area-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.airline-admin-area-list-flight-card p {
  font-size: 12px;
}

.airline-admin-area-title {
  display: flex;
  justify-content: left;
  padding-left: 20px;
  width: 950px;
}

.airline-admin-area-title p {
  padding-bottom: 40px;
  font-size: 20px;
}

/*----------------All-Flights--------------*/

.airline-all-flights-main {
  display: flex;
  justify-content: center;
}

.airline-all-flights-section {
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 20px;
  width: 980px;
}

.airline-all-flights-title {
  margin-left: 20px;
}

.airline-all-flights-new-flight {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-left: 20px;
  padding: 5px;
  background-color: #111111;
  width: 90px;
  border: 2px solid #87CEEB;
  border-radius: 8px;
  cursor: pointer;
  color: #87CEEB;
  font-size: 12px;
}

.airline-button-pages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  color: #87CEEB;
}

.airline-button-previous-page {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.airline-button-previous-page-off {
  width: 40px;
  height: 40px;
  cursor: default;
  opacity: 0.4;
}

.airline-button-next-page {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  cursor: pointer;
}

.airline-button-next-page-off {
  width: 40px;
  height: 40px;
  cursor: default;
  margin-left: 20px;
  opacity: 0.4;
}

.airline-all-flights-card {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 20px;
   background-color: #111111;
   padding: 10px;
   border: 3px solid #181818;
   border-radius: 8px;
}

.airline-all-flights-destination {
  display: flex;
  justify-content: center;
  width: 250px;
}

.airline-all-flights-card-icons {
  width: 120px;
  display: flex;
  justify-content: space-between;
}

.airline-all-flights-card-icon {
  cursor: pointer;
  color: #87CEEB;
}

.airline-flight-card-admin {
  width: 980px;
}

.airline-all-flights-time {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/*----------------Planes--------------*/

.airline-planes-main {
  display: flex;
  justify-content: center;
}

.airline-planes-section {
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 20px;
  width: 600px;
}

.airline-planes-title {
  margin-left: 20px;
}

.airline-planes-card {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 10px;
  background-color: #111111;
  border: 3px solid #181818;
  border-radius: 8px;
}

.airline-planes-card-name-and-seats p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
}

.airline-planes-card-icons {
  display: flex;
  width: 80px;
  justify-content: space-between;
}

.airline-planes-card-icon {
  cursor: pointer;
  color: #87CEEB;
}

.airline-planes-new-plane {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-left: 20px;
  padding: 5px;
  background-color: #111111;
  width: 90px;
  border: 2px solid #87CEEB;
  border-radius: 8px;
  cursor: pointer;
  color: #87CEEB;
  font-size: 12px;
}

/*------------------Passenger-List---------------*/

.airline-passenger-list-section {
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.airline-passenger-list-title {
  color: #FFF;
}

.airline-passenger-list-card {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 700px;
}

.airline-passenger-list-flight-reference{
  display: flex;
  justify-content: space-between;
  padding: 5px 30px;
  font-size: 12px;
  border-top: 2px solid #87CEEB;
  border-right: 2px solid #87CEEB;
  border-left: 2px solid #87CEEB;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.airline-passenger-list-flight {
  width: 700px;
  border-bottom: 2px solid #87CEEB;
  border-right: 2px solid #87CEEB;
  border-left: 2px solid #87CEEB;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.airline-passenger-list-name {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 680px;
  border-bottom: 2px solid #181818;
}

.airline-passenger-list-card-name {
  display: flex;
  justify-content: center;
}

.airline-passenger-list-flight-destination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
}

.airline-passenger-list-icon {
  size: 40px;
}

.airline-passenger-list-btn-back {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100px;
  height: 40px;
  background-color: #181818;
  color: #87CEEB;
  border: 2px solid #87CEEB;
  border-radius: 8px;
  cursor: pointer;
}

/*-----------------Login----------------*/

.airline-login-main {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  color: #FFF;
}

.airline-login-section {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.airline-login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #181818;
  border: 2px solid #87CEEB;
  border-radius: 12px;
  color: #87CEEB;
}

.airline-login-username {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

.airline-login-username p {
  margin-right: 10px;
}

.airline-login-username input {
  width: 300px;
  height: 40px;
  padding: 2px 5px;
  color: #C9C9C9;
  border: 2px solid #111111;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

.airline-login-password {
  display: flex;
  justify-content: space-between;
}

.airline-login-password p {
  margin-right: 10px;
}

.airline-login-password input {
  width: 300px;
  height: 40px;
  padding: 2px 5px;
  color: #C9C9C9;
  border: 2px solid #111111;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

.airline-login-forget-password {
  margin-top: 20px;
  font-size: 12px;
  cursor: pointer;
}

.airline-login-create-account {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: #87CEEB;
  color: #181818;
  border-radius: 8px;
  width: 150px;
  height: 40px;
  cursor: pointer;
}

.airline-login-button-enter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 300px;
  height: 40px;
  background-color: #181818;
  color: #87CEEB;
  border: 2px solid #87CEEB;
  border-radius: 8px;
  cursor: pointer;
}

/*--------------Dialog-----------*/

.airline-dialog-background {
  color: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, 0.8);
}

.airline-dialog-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #111111;
  border: 3px solid #181818;
  border-radius: 12px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.airline-dialog-box h2 {
  font-size: 18px;
}

.airline-dialog-box-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 5px;
  background-color: #87CEEB;
  color: #181818;
  border-radius: 4px;
  width: 80px;
  cursor: pointer;
}

.airline-dialog-confirmation-btn {
  display: flex;

}

.airline-dialog-confirmation-btn-yes {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 20px;
  padding: 5px;
  background-color: #87CEEB;
  color: #181818;
  border-radius: 4px;
  width: 80px;
  cursor: pointer;
}

.airline-dialog-confirmation-btn-no {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 5px;
  background-color: #87CEEB;
  color: #181818;
  border-radius: 4px;
  width: 80px;
  cursor: pointer;
}

/*------------------Forms----------------*/

.airline-form-section {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.airline-form {
  color: #FFF;
  background-color: #181818;
  border: 3px solid #87CEEB;
  border-radius: 10px;
  width: 400px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.airline-form h1 {
  margin-bottom: 10px;
}

.airline-form-input {
  margin-top: 10px;
  margin-bottom: 4px;
  width: 250px;
  padding: 10px;
  outline: none;
  border: 3px solid #FFF;
}

.airline-form-input[data-invalid="true"][data-dirty="true"] {
  border: 3px solid #F33;
}

.airline-form-input[data-invalid="true"][data-dirty="true"] + p {
  display: unset;
}

.airline-form-error {
  color: #F33;
  font-size: 12px;
  display: none;
}

.airline-form-select-container {
  padding: unset;
  
}

.airline-form-btns {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-top: 20px;
}

.airline-form-button {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #181818;
  color: #87CEEB;
  border: 2px solid #87CEEB;
  border-radius: 4px;
  width: 80px;
  cursor: pointer;
}

.airline-form-button-cancel {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #181818;
  color: #87CEEB;
  border: 2px solid #87CEEB;
  border-radius: 4px;
  width: 80px;
  cursor: pointer;
}